.profile {
  background: linear-gradient(to bottom, #D9ABBC 20%, #4F1112 100%);
  width: 100vw;
  min-height: 100vh; /* allows scroll if needed */
  overflow-y: auto;  /* vertical scrolling */
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  position: relative; 
}

.p-avatar{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;   
  object-position: center; /* Centers your face */
  margin-left: 40rem;
  margin-top:6rem;
  cursor: pointer;
   transition: opacity 0.2s ease;
   background-color: #d3d3d3;
}

.p-avatar:hover {
  opacity: 0.7; /* fades when hovered */
}

.p-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-left: 45rem;
    margin-top:-3.3rem;
    font-family: Irish Grover;
}

.p-change-container {
    position: absolute;
    top: 15rem;
    right: 22rem;
    background: white;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    z-index: 10px;
}

.history-collage {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 8px;
  margin-top: 2rem;
  cursor: pointer;
  margin-right: 76rem; /* aligns with your layout */
  background-color: white;
}

.collage-img {
  width: 80px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
  transition: opacity 0.2s ease;
}

.collage-img:hover {
  opacity: 0.8;
}

.his-p{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-top:4rem;
    margin-right:78rem;
}

.like-p{
   font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-top:-15rem;
    margin-left:78rem;

}

.liked-collage {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 8px;
  margin-top: 2rem;
  cursor: pointer;
  margin-left: 76rem; /* aligns with your layout */
  background-color: white;
}